" Map leader to <space>
let mapleader = " "

" Bind s to Flash instead of behaving like c1
nmap s <Action>(flash.search)
xmap s <Action>(flash.search)
set visualbell

" The popup to see available keys
set which-key
set notimeout
let g:WhichKey_FontSize = 20

" Highlight optimal jump targets
set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

" More objects (args, functions, classes, etc.)
set anyobject

" Override function custom objects so they handle decorators (unlike anyobject)
set functiontextobj

" Override arg custom objects so the spaces around arguments are handled (unlink anyobject²)
set argtextobj

" Comment with gcc / gc<motion>
set commentary

" Replace content without the replaced content overriding the register using gr
set ReplaceWithRegister

" Motions inside the file
set nerdtree

" (G)o to places
nnoremap <leader>ga :<C-u>action GotoAction<CR>
nnoremap <leader>gc :<C-u>action GotoClass<CR>
nnoremap <leader>gd :<C-u>action GotoDeclaration<CR>
nnoremap <leader>gs :<C-u>action GotoSuperMethod<CR>
nnoremap <leader>gi :<C-u>action GotoImplementation<CR>
nnoremap <leader>gf :<C-u>action GotoFile<CR>
nnoremap <leader>gm :<C-u>action GotoSymbol<CR>
nnoremap <leader>gl :<C-u>action JumpToLastChange<CR>
nnoremap <leader>gu :<C-u>action ShowUsages<CR>
nnoremap <leader>gp :<C-u>action FindInPath<CR>
nnoremap <leader>gr :<C-u>action RecentFiles<CR>

" (R)eplace
nnoremap <leader>r :<C-u>action ReplaceInPath<CR>
vnoremap <leader>r :<C-u>action ReplaceInPath<CR>

" (T)abs
nnoremap <Leader>tr :action ReopenClosedTab<CR>
nnoremap <Leader>to :tabo<CR>

nnoremap <C-l> :action NextTab<CR>
nnoremap <C-h> :action PreviousTab<CR>
nnoremap <C-k> :tabc<CR>  " k for kill (c & w are really weird to hit with Ctrl...)

" (L)ines
nnoremap <leader>lr :action Vcs.RollbackChangedLines<CR>
nnoremap <leader>lb :action Annotate<CR>
vnoremap <leader>lc :<C-u>action CommentByLineComment<CR>

" TODO: tests, run, debug...