" Map leader to <space>
let mapleader = " "

" Bind s to Flash instead of behaving like c1
nmap s <Action>(flash.search)
xmap s <Action>(flash.search)
set visualbell

" The popup to see available keys
set which-key
set notimeout
let g:WhichKey_FontSize = 20

" Highlight optimal jump targets
set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

" More objects (args, functions, classes, etc.)
set anyobject

" Override function custom objects so they handle decorators (unlike anyobject)
set functiontextobj

" Override arg custom objects so the spaces around arguments are handled (unlink anyobject²)
set argtextobj

" Comment with gcc / gc<motion>
set commentary

" Replace content without the replaced content overriding the register using gr
set ReplaceWithRegister

" Motions inside the file
set nerdtree

" (G)o to places
nnoremap <leader>ga :<C-u>action GotoAction<CR>
nnoremap <leader>gc :<C-u>action GotoClass<CR>
nnoremap <leader>gd :<C-u>action GotoDeclaration<CR>
nnoremap <leader>gi :<C-u>action GotoImplementation<CR>
nnoremap <leader>gf :<C-u>action GotoFile<CR>
nnoremap <leader>gm :<C-u>action GotoSymbol<CR>
nnoremap <leader>gl :<C-u>action JumpToLastChange<CR>
nnoremap <leader>gu :<C-u>action ShowUsages<CR>
nnoremap <leader>gs :<C-u>action FindInPath<CR>
vnoremap <leader>gs :<C-u>action FindInPath<CR>
nnoremap <leader>gr :<C-u>action RecentFiles<CR>

" (R)eplace
nnoremap <leader>r :<C-u>action ReplaceInPath<CR>
vnoremap <leader>r :<C-u>action ReplaceInPath<CR>

" (T)abs
nnoremap <Leader>tr :action ReopenClosedTab<CR>
nnoremap <Leader>to :tabo<CR>

nnoremap <C-l> :action NextTab<CR>
nnoremap <C-h> :action PreviousTab<CR>
" k for kill (c & w are really weird to hit with Ctrl...)
nnoremap <C-k> :tabc<CR>

" (A)ction
nnoremap <leader>ar :action Vcs.RollbackChangedLines<CR>
" Annotate = blame
nnoremap <leader>ab :action Annotate<CR>
vnoremap <leader>ac :<C-u>action CommentByLineComment<CR>
nnoremap <leader>ao :action OptimizeImports<CR>
nnoremap <leader>ai :action ShowHoverInfo<CR>
nnoremap <leader>af :action ReformatCode<CR>

" e(X)exute
nnoremap <leader>xx :action Run<CR>
nnoremap <leader>xr :action RerunFailedTests<CR>

" (O)pen
" TODO: none of this works :madge:
nnoremap <leader>os :action ShowSettings<CR>
nnoremap <leader>oc :action editRunConfigurations<CR>
